body {
  background-color: #E1E5EA;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 300px;
}

h1 {
  color: Brown;
}

h3 {
  color: Brown;;
}
